<ion-header class="nav_header theme_background">
    <button class="nav_btn floatLeft text_color_white" (click)="dismiss()">
        <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
    </button>
    <button class="nav_btn floatLeft text_color_white" (click)="go_to_home()">
        <ion-icon name="home"></ion-icon>
    </button>

    <div class="nav_header_title floatLeft text_color_white">
        {{get_trans("order_details")}}
    </div>
</ion-header>

<ion-content>

    <div *ngFor="let ite of item" class="order_wrapper">

        <div class="list_image">
            <img src="{{uploads_url}}restaurants/{{ite.cover}}">
        </div>
        <div class="list_details padding_sides_20">
            <ion-grid class="p0">

                <ion-row class="item_status_row">

                    <!--order number-->
                    <ion-col col-12 class="p0  textRight">
                        <p>
                            <strong class="floatRight">
                                {{get_trans("order_num")}}
                            </strong>

                            <strong class="floatLeft">
                                {{ite.order_obj.id}}
                            </strong>
                        </p>
                    </ion-col>

                    <!--client data-->
                    <ion-col col-12 class="p0  textRight">
                        <hr>

                        <p>
                            <strong>
                                {{get_trans("client_data")}}
                            </strong>
                        </p>
                        <hr>
                        <p>
                            {{get_trans("name")}}
                            <br>
                            <strong>
                                {{ite.client_obj.first_name}}
                                {{ite.client_obj.last_name}}
                            </strong>
                        </p>
                        <p>
                            {{get_trans("order_address")}}
                            <br>
                            <strong>
                                {{ite.order_obj.address}}
                            </strong>
                        </p>
                        <p>
                            {{get_trans("client_address")}}
                            <br>
                            <strong>
                                {{ite.client_obj.address}}
                            </strong>
                        </p>

                        <p>
                            {{get_trans("phone_number")}}
                            <br>
                            <strong>
                                {{ite.client_obj.mobile}}
                            </strong>
                        </p>

                        <p *ngIf="ite.order_obj.lat!=null&&ite.order_obj.lang!=null">
                            <a ion-button small href="http://maps.google.com/?q={{ite.order_obj.lat}},{{ite.order_obj.lang}}">
                                {{get_trans("map")}}
                            </a>
                        </p>

                        <hr>
                    </ion-col>

                    <!--rest data-->
                    <ion-col col-12 class="p0  textRight">
                        <p>
                            <strong>
                                {{get_trans("restaurant_data")}}
                            </strong>
                        </p>

                        <hr>

                        <p>
                            {{get_trans("restaurant_name")}}
                            <br>
                            <strong>
                                {{ite.restaurant_obj.restaurant_name}}
                            </strong>
                        </p>

                        <p>
                            {{get_trans("restaurant_address")}}
                            <br>
                            <strong>
                                {{ite.restaurant_obj.restaurant_address}}
                            </strong>
                        </p>

                        <p>
                            {{get_trans("restaurant_number")}}
                            <br>
                            <strong>
                                {{ite.restaurant_obj.phone}}
                            </strong>
                        </p>

                        <p *ngIf="ite.restaurant_obj.rest_lat!=null&&ite.restaurant_obj.rest_lang!=null">
                            <a ion-button small href="http://maps.google.com/?q={{item.rest_lat}},{{item.rest_lang}}">
                                {{get_trans("map")}}
                            </a>
                        </p>

                        <hr>
                    </ion-col>

                    <ion-col col-12 class="p0  textRight">
                        <p>{{get_trans("order_status")}}</p>
                    </ion-col>

                    <ion-col col-12 class="p0">
                        <ul class="order_status_ul">
                            <li *ngFor="let status of ite.all_statues;let i=index">

                                <span class="order_icon_border" [class.active]="ite.status_id>=i">
                                    <span class="order_icon">
                                        <ion-icon name="checkmark"></ion-icon>
                                    </span>
                                </span>

                                <span class="order_status_text" [class.active]="ite.status_id>=i">
                                    {{get_trans(status)}}
                                </span>

                                <span *ngIf="allowed_sattues.indexOf(i) > -1 && !(ite.status_id >= 3)" style="float: left;font-size: 10px;">
                                    {{get_trans("waiting_for_order_at_kitchen")}}
                                </span>

                                <span *ngIf="allowed_sattues.indexOf(i) > -1 && ite.status_id >= 3 && i > ite.status_id ">
                                    <button ion-button (click)="change_order_status(i)">
                                        <span>{{get_trans("change_status")}}</span>
                                    </button>
                                </span>
                            </li>
                        </ul>

                    </ion-col>
                </ion-row>
            </ion-grid>
            <br>


        </div>

        <div class="meals_list">

            <ul>
                <div *ngFor="let menu of ite.items">
                    <li>
                        <ion-grid class="p0">
                            <ion-row>
                                <ion-col col-1 class="">
                                    <div class="number_circle">
                                        {{menu.quantity}}
                                    </div>
                                </ion-col>
                                <ion-col col-2 class="">
                                    <div class="circle">
                                        <img src="{{uploads_url}}menu/{{menu.image}}">
                                    </div>
                                </ion-col>
                                <ion-col col-6 class="">
                                    <p>{{menu.item}}</p>
                                </ion-col>
                                <ion-col col-3 class="textRight">
                                    <h6>{{ite.currency}}{{menu.price}}</h6>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </li>
                </div>
                <hr>
                <li>
                    <ion-grid class="p0">

                        <ion-row>
                            <ion-col col-12 class="textCenter">
                                {{get_trans("all_prices_include_tax")}}
                            </ion-col>
                            <ion-col col-6 class="">
                                <h6>{{get_trans("cash_payment")}}</h6>
                            </ion-col>
                            <ion-col col-6 class="textRight">
                                <h6><strong>{{get_trans("payment_methods")}}</strong></h6>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col col-6 class="">
                                <h6>
                                    {{ite.currency}}
                                    {{ite.order_obj.order_total_cost}}
                                </h6>
                            </ion-col>
                            <ion-col col-6 class="textRight">
                                <h6><strong>{{get_trans("order_cost_before_discount")}}</strong></h6>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col col-6 class="">
                                <h6>
                                    {{ite.currency}}
                                    {{ite.order_obj.order_total_discount}}
                                </h6>
                            </ion-col>
                            <ion-col col-6 class="textRight">
                                <h6><strong>{{get_trans("discount")}}</strong></h6>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col col-6 class="">
                                <h6>
                                    {{ite.currency}}
                                    {{ite.order_obj.order_deivery_cost}}
                                </h6>
                            </ion-col>
                            <ion-col col-6 class="textRight">
                                <h6><strong>{{get_trans("delivery_cost")}}</strong></h6>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col col-6 class="">
                                <h6>
                                    {{ite.currency}}
                                    {{ite.order_obj.final_cost}}
                                </h6>
                            </ion-col>
                            <ion-col col-6 class="textRight">
                                <h6><strong> {{get_trans("order_total_cost")}}</strong></h6>
                            </ion-col>
                        </ion-row>



                    </ion-grid>
                </li>
                <li>

                </li>

            </ul>
        </div>
    </div>
</ion-content>
