<ion-header class="nav_header theme_background">
    <div class="nav_header_title floatLeft">
        {{get_trans('delivery_man')}}
    </div>
    <span class="floatRight cursor_pointer logout_btn" (click)="logout()">
        {{first_name}} <ion-icon name="ios-log-out"></ion-icon>
    </span>
    <div class="clear"></div>
</ion-header>

<ion-content padding>
    <h1 style="text-align: center; color: green">
        {{get_trans("home")}}
    </h1>

    <div class="order_wrapper">

        <div class="profile_head">
            <div class="profile_left textCenter">
                <button type="button" ion-button small class="theme_background" (click)="change_lang('ar')">عربي</button>
                <button  type="button" ion-button small class="theme_background" (click)="change_lang('en')">English</button>
            </div>
            <div class="clear"></div>
        </div>

        <hr>

        <div class="profile_head">
            <div class="profile_left textCenter">
                <button type="button" ion-button small class="main_btn available_btn change_delivery_status_1" (click)="change_delivery_status(1)">
                    {{get_trans("available")}}
                </button>
                <button  type="button" ion-button small class="main_btn available_btn change_delivery_status_0 " (click)="change_delivery_status(0)">
                    {{get_trans("not_available")}}
                </button>
            </div>
            <div class="clear"></div>
        </div>

        <hr>

        <div class="profile_head">
            <div class="profile_left textCenter">
                <button type="button" ion-button small class="theme_background" (click)="refresh()">
                    {{get_trans("refresh")}}
                </button>

            </div>
            <div class="clear"></div>
        </div>

        <hr>

        <div class="profile_head">
            <div class="profile_left textCenter">
                <p>
                    <strong>{{get_trans("your_balance")}}</strong>:
                    {{user_obj.delivery_balance}}
                </p>
                <p>
                    <strong>{{get_trans("order_balance")}}</strong>:
                    {{user_obj.orders_balance}}
                </p>

            </div>
            <div class="clear"></div>
        </div>

        <hr>

        <div class="profile_head">
            <div class="profile_left textCenter">
                <button type="button" ion-button small (click)="orders_page()">
                    {{get_trans("the_orders")}}
                </button>
            </div>
            <div class="clear"></div>
        </div>

        <hr>

        <div class="profile_head">
            <div class="profile_left textCenter">
                <button type="button" ion-button small (click)="current_order()">
                    {{get_trans("current_order")}}
                </button>
            </div>
            <div class="clear"></div>
        </div>

        <hr>


        <div class="profile_head">
            <div class="profile_left textCenter">
                <button type="button" ion-button small (click)="my_orders_page()">
                    {{get_trans("your_orders")}}
                </button>
            </div>
            <div class="clear"></div>
        </div>


    </div>
</ion-content>
