page-home {

    .tabbar{
        position: relative !important;
        top:50px !important;
        background-image:none !important;
    }
    .tab-button-icon{
        color: #393536 !important;
    }
    .tab-button{
        border-bottom:3px solid transparent;
    }
    .tab-button[aria-selected=true]{
        border-bottom:4px solid #ffd800;
    }
    .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image:none !important;
    }

    .nav_header_title {
        .icon{
            color: #fcff00;
            position: relative;
            top: 2px;
            left: 5px;
        }
    }

    .logout_btn{
        color: #FFF;
        line-height: 43px;
        font-size: 17px;
        margin-right: 9px;
    }

    .nav_header_title{
        width: 150px;
        text-align: left;
    }



    .header{
        ul{
            margin:0px;
            padding:0px;
            padding-left:20px;
            padding-right:20px;
            li{
                list-style: none;
                width:50%;
                float: left;
                text-align: center;
                padding: 15px;
                color: #c9c9c9;
                font-size: 18px;
                font-weight: 400;
                border-bottom:2px solid #fff;
            }
            .active{
                border-bottom:4px solid #ffd800;
                color: #777777;
            }
        }
    }
    .scroll-content{
        margin-top:50px !important;
    }
    .order_wrapper{
        width:100%;
        .list{
            margin:0px;
            .item{
                background: #f0f0f0 !important;
                margin-bottom: 10px !important;
                .item-inner{
                    .input-wrapper{
                        .label {
                            margin:0px;
                            .list_image{
                                width:100%;
                                height:120px;
                                position: relative;
                                img{
                                    width:100%;
                                    height:100%;
                                    object-fit: cover;
                                    object-position:center;
                                }
                                .not{
                                    width:35px;
                                    height:35px;
                                    position:absolute;
                                    top:15px;
                                    left:15px;
                                    border-radius: 50%;
                                    img{
                                        width:100%;
                                        height:100%;
                                        border-radius: 50%;
                                    }
                                }
                            }
                            .list_details{
                                padding: 10px;
                                h4{
                                    margin:0px;
                                    padding:0px;
                                    color: #636363;
                                    font-size: 15px;
                                    font-weight: 500;
                                    padding-bottom: 5px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis
                                }
                                p{
                                    color: #6d6d6d;
                                    padding:0px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    font-size: 14px;
                                    padding-bottom: 10px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis
                                }
                                h6{
                                    margin:0px;
                                    padding:0px;
                                    color: #505050;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    strong{
                                        margin-left:10px;
                                    }
                                }
                                button{
                                    color: #fff;
                                    padding: 5px;
                                    padding-left:10px;
                                    padding-right:10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main_btn{
        background-color: #759f32;
        border: 1px solid #759f32;
    }

    .available_btn{
        background-color:#CCC;
        border-color:#CCC;
    }

    .available_btn.active{
        background-color: #759f32 !important;
        border: 1px solid #759f32;
    }

}
