<style>
    p.break_word{
        margin-bottom: 0px;
    }
</style>

<ion-header class="nav_header theme_background">
    <button class="nav_btn floatLeft text_color_white" (click)="dismiss()">
        <ion-icon name="ios-arrow-round-back-outline"></ion-icon>
    </button>
    <button class="nav_btn floatLeft text_color_white" (click)="go_to_home()">
        <ion-icon name="home"></ion-icon>
    </button>

    <div class="nav_header_title floatLeft text_color_white">
        {{get_trans("the_orders")}}
    </div>
</ion-header>

<ion-content padding>
    <h1 style="text-align: center; color: green">
        {{get_trans("the_orders")}}
    </h1>

    <div class="order_wrapper">
        <div>
            <ion-list>
                <ion-item *ngFor="let item of rest_orders" class="order_block_{{item.order_id}}">
                    <div class="list_image">

                        <img src="{{uploads_url}}restaurants/{{item.cover}}" class="widthFull">
                    </div>
                    <div class="list_details">
                        <ion-grid class="p0">

                            <ion-row>
                                <ion-col col-12 class="p0">
                                    <p>{{item.date}}</p>
                                </ion-col>
                            </ion-row>

                            <ion-row style="margin-top: 10px;">
                                <ion-col col-6 class="p0 padding_right_20 {{selecetd_direction}}_direction {{selecetd_direction}}_align" >
                                    <p class="break_word">
                                        <strong>{{get_trans("name")}}</strong> : <br>
                                        {{item.first_name}} {{item.lasts_name}}
                                    </p>
                                </ion-col>
                                <ion-col col-6 class="p0 padding_left_20 {{selecetd_direction}}_direction {{selecetd_direction}}_align">
                                    <p class="break_word">
                                        <strong>{{get_trans("restaurant_name")}}</strong> : <br>
                                        {{item.restaurant_name}}
                                    </p>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col col-6 class="p0 padding_right_20 {{selecetd_direction}}_direction {{selecetd_direction}}_align" >
                                    <p class="break_word">
                                        <strong>{{get_trans("address")}}</strong> : <br>
                                        {{item.order_address}}
                                    </p>
                                </ion-col>

                                <ion-col col-6 class="p0 padding_left_20 {{selecetd_direction}}_direction {{selecetd_direction}}_align">
                                    <p class="break_word">
                                        <strong>{{get_trans("address")}}</strong> : <br>
                                        {{item.restaurant_address}}
                                    </p>
                                </ion-col>
                            </ion-row>

                            <ion-row style="margin-top: 10px;">
                                <ion-col col-6 class="p0 padding_right_20 {{selecetd_direction}}_direction {{selecetd_direction}}_align" >
                                    <p class="break_word">
                                        <strong>{{get_trans("phone_number")}}</strong> : <br>
                                        {{item.user_mobile}}
                                    </p>
                                </ion-col>

                                <ion-col col-6 class="p0 padding_left_20 {{selecetd_direction}}_direction {{selecetd_direction}}_align">
                                    <p class="break_word">
                                        <strong>{{get_trans("phone_number")}}</strong> : <br>usd to egp
                                        {{item.rest_phone}}
                                    </p>
                                </ion-col>
                            </ion-row>

                            <ion-row style="margin-top: 10px;">

                                <ion-col col-6 class="p0 padding_right_20 {{selecetd_direction}}_direction {{selecetd_direction}}_align" >
                                    <p class="break_word" *ngIf="item.lat!=null&&item.lang!=null">
                                        <a ion-button small href="http://maps.google.com/?q={{item.lat}},{{item.lang}}">
                                            {{get_trans("map")}}
                                        </a>
                                    </p>
                                </ion-col>

                                <ion-col col-6 class="p0 padding_left_20 {{selecetd_direction}}_direction {{selecetd_direction}}_align">
                                    <p class="break_word" *ngIf="item.rest_lat!=null&&item.rest_lang!=null">
                                        <a ion-button small href="http://maps.google.com/?q={{item.rest_lat}},{{item.rest_lang}}">
                                            {{get_trans("map")}}
                                        </a>
                                    </p>
                                </ion-col>

                            </ion-row>

                            <ion-row style="margin-top: 10px;">
                                <ion-col col-6 class="p0 textLeft padding_right_20">
                                    <button type="button" color="danger" ion-button small (click)="reject_accept_order(item.order_id,0)">
                                        {{get_trans("refuse")}}
                                    </button>
                                </ion-col>
                                <ion-col col-6 class="p0 textRight padding_left_20">
                                    <button type="button" ion-button small class="theme_background" (click)="reject_accept_order(item.order_id,1)">
                                        {{get_trans("accept")}}
                                    </button>

                                </ion-col>
                            </ion-row>


                        </ion-grid>
                    </div>

                    <hr>
                </ion-item>

            </ion-list>
        </div>

    </div>
</ion-content>
